<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tipos de serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- acessar este link com o parametro id -->
    <ion-item *ngFor="let tipoServico of tiposServicos" routerLink='/tipo-servicos-add-edit/{{tipoServico.id}}'>
      <ion-label>
        <h3>{{ tipoServico.nome }}</h3>
        <p style="text-align: right;">R$ {{ tipoServico.valor }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- floating action button -->
  <ion-fab vertical="top" horizontal="end" slot="fixed" edge="true">
    <ion-fab-button routerLink='/tipo-servicos-add-edit/-1'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
